{% extends 'root.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="/static/css/busqueda.css">
<div class="searchPage">
  <div class="row mt-3">
    <div class="col-md-1"></div>
    <div class="card col-md-10">
        <div class="card-body">
          <h3 class="card-title">Buscar</h3>
          <div class="row">
            <form id="searchForm" action="{% url 'busqueda' %}" method="GET">
              <div>
                <label for="types">Tipo:</label>
                <select id="typeSelect" name="types">
                  <option value="-1" {% if searchParams.type == -1 %} selected {% endif %}>Todos</option>
                  {% for type in types %}
                  <option value="{{type.id}}" {% if searchParams.type == type.id %} selected {% endif %}>{{type.nombre}}</option>
                  {% endfor %}
                </select>
              </div>
              <div>
                <label for="tags">Etiquetas:</label>
                <select id="tagsSelect" multiple="multiple" data-placeholder="Ninguna" name="tags[]" hidden>
                  {% for tag in tags %}
                  <option value="{{tag.id}}" {% if tag.id|stringformat:"i" in searchParams.tags %} selected {% endif %}>{{tag.nombre}}</option>
                  {% endfor %}
                </select>
              </div>
              <input type="submit" class="btn btn-primary btn-block" value="Buscar">
            </form>
          </div>
          <div id="searchResult">
            {% for recurso in recursos|dictsort:"fecha_creacion" reversed%}
            <div class="row m3">
              <div class="card w-100">
                <div class="card-body">
                  <div class="col-md-12 mx-auto">
                    <div class="row">
                      <h5 class="card-title">{{recurso.nombre}} </h5>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-5 mx-auto">
                        <p><b>Proyecto: </b>{{recurso.proyecto}}</p>
                        <p><b>Fase: </b>{{recurso.get_fase_display}}</p>
                      </div>
                      <div class="col-md-7 ">
                        <p><b>Tipo: </b>{{recurso.tipo}}</p>
                      </div>
                    </div>
                    <p>
                      <a href="{% url 'recurso' recurso.id %}">Detalle</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
{% endblock %}
