{% extends 'root.html' %}
{% block content %}
<div class="searchPage">
  <div class="row mt-3">
    <div class="card container">
        <div class="card-body">
          <h3 class="card-title">Buscar</h3>
          <form class="searchForm" action="{% url 'busqueda' %}" method="GET">
            <div class="row">
              <label class="col-md-2 text-center" for="types">Tipo:</label>
              <select class="typeSelect col-md-10" name="types">
                <option value="-1" {% if searchParams.type == -1 %} selected {% endif %}>Todos</option>
                {% for type in types %}
                <option value="{{type.id}}" {% if searchParams.type == type.id %} selected {% endif %}>{{type.nombre}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="row">
              <label class="col-md-2 text-center" for="tags">Etiquetas:</label>
              <select class="tagsSelect col-md-10" name="tags" multiple="multiple">
                {% for tag in tags %}
                <option value="{{tag.id}}" {% if tag.id|stringformat:"i" in searchParams.tags %} selected {% endif %}>{{tag.nombre}}</option>
                {% endfor %}
              </select>
            </div>
            <input type="submit" class="btn btn-primary btn-block w-25" value="Buscar" style="margin: 1vh 0vw;">
          </form>
          <div id="searchResult" >
            {% if recursos|length > 0 %}
            <h3 class="card-title">Recursos</h3>
            {% endif %}
            {% for recurso in recursos|dictsort:"inicio_produccion" reversed%}
            <div class="row m3 mt-2">
              <div class="card w-100">
                <div class="card-body">
                  <div class="col-md-12 mx-auto">
                    <div class="row">
                      <h5 class="card-title">{{recurso.nombre}} </h5>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-5 mx-auto">
                        <p><b>Proyecto: </b>{{recurso.proyecto}}</p>
                        <p><b>Fase: </b>{{recurso.get_fase_display}}</p>
                      </div>
                      <div class="col-md-7 ">
                        <p><b>Tipo: </b>{{recurso.tipo}}</p>
                      </div>
                    </div>
                      {% if recurso.etiquetas_list %}
                        <div class="row">
                          <h5>Etiquetas:</h5>
                        </div>
                        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 1vw; margin-bottom: 2vh;">
                          {% for tag in recurso.etiquetas_list %}
                          <div class="recursoTag" style="border: 2px solid {{tag.color}}; background-color: {{tag.color}}; border-radius: 10px; height: 40px;">
                            <div class="text-center etiqueta-item" style="color: #FFF; font-weight: 400; width: 100%;">
                              {{tag.nombre}}
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                    {% endif %}
                    <p>
                      <a class="btnn btn-full mt-1 mb-1" href="{% url 'recurso' recurso.id %}">Detalle</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% if clips|length > 0 %}
            <h3 class="card-title">Clips</h3>
            {% endif %}
            {% for clip in clips%}
            <div class="row m3 mt-2">
              <div class="card w-100">
                <div class="card-body">
                  <div class="col-md-12 mx-auto">
                    <div class="row">
                      <h5 class="card-title">{{clip.nombre}} </h5>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6 mx-auto">
                        <p><b>Recurso: </b>{{clip.archivo.recurso.nombre}}</p>
                      </div>
                      <div class="col-md-6 mx-auto">
                        <p><b>Archivo: </b>{{clip.archivo.nombre}}</p>
                      </div>
                    </div>
                      {% if clip.etiquetas.all|length > 0 %}
                        <div class="row">
                          <h5>Etiquetas:</h5>
                        </div>
                        <div class="row">
                          {% for tag in clip.etiquetas.all %}
                          <div class="col-md-4 card recursoTag" style="margin: 1vw; border: 2px solid {{tag.color}}; border-radius: 10px; background-color: {{tag.color}}; width: auto; height: auto; margin-right: 1px;">
                            <div class="card-body text-center etiqueta-item" style="color: #FFF" >
                              {{tag.nombre}}
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                    {% endif %}
                    <p>
                      <a class="btnn btn-full mt-1 mb-1" href="{% url 'ver-clips' clip.archivo.id %}">Ver Clip</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
