{% extends 'root.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="/static/css/planProduccion.css">
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 contentTitle">
    <h3 class="title">Plan de Producción</h3>
    <h5 class="recursoName">{{ recurso.nombre }}</h5>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row descripcion">
  <div class="col-md-1"></div>
  <div class="col-md-10 card w-100">
    <div class="card-body">
      <p>{{ plan.descripcion }}</p>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="plan">
  {% for key, values in entradas.items %}
  <div class="diaBlock">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 dia">
        <h2>{{ key }}</h2>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <table class="col-md-10 entradas table table-striped table-bordered">
        <thead>
          <th>Hora</th>
          <th>Lugar</th>
          <th>Personas</th>
          <th>Equipos</th>
          <th>Descripcion</th>
          <th>Observaciones</th>
          <th>Opciones</th>
        </thead>
        <tbody>
          {% for e in values %}
          <tr>
            <td>{{ e.hora }}</td>
            <td>{{ e.lugar }}</td>
            <td>{{ e.personas }}</td>
            <td>{{ e.equipos }}</td>
            <td>{{ e.descripcion }}</td>
            <td>{{ e.observaciones }}</td>
            <td><a class="btnn btn-full float-right" href="{% url 'editar-entrada' e.id %}">Editar</a>
                <!--<a class="btnn btn-full float-right" href="#" id="id_eliminar_entrada">Eliminar</a>-->
                <a class="btnn btn-full float-right" href="{% url 'eliminar-entrada' e.id %}" id="id_eliminar_entrada">Eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-1"></div>
  {% endfor %}
</div>
<div class="row buttonPanel">
  <div class="col-md-1"></div>
  <div class="col-md-2">
    <a class="btnn btn-full" href="{% url 'create-entrada' recurso.id %}"><i class="ion-ios-add-circle icon-small"></i>Agregar nueva entrada</a>
  </div>
  <div class="col-md-2">
    <a class="btnn btn-full" href="{% url 'editar-plan' recurso.id %}"><i class="ion-ios-list-box icon-small"></i>Editar descripción</a>
  </div>
  <div class="col-md-2">
    <a class="btnn btn-full" href="#" id="id_eliminar_plan"><i class="ion-md-trash icon-small"></i>Eliminar plan de producción</a>
  </div>
  <div class="col-md-2">
    <a class="btnn btn-full" href="{% url 'exportar-plan' recurso.id %}"><i class="ion-ios-list-box icon-small"></i>Exportar a Excel</a>
  </div>
</div>

{% include "confirmation/delete_plan.html" %}
{% include "confirmation/delete_entrada.html" %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<script>
    $(document).ready(function () {
        $('#id_eliminar_plan').click(function () {
            $('#tipo_modal1').modal();
        });
    });

    $(document).ready(function () {
        $('#id_eliminar_entrada').click(function () {
            $('#tipo_modal2').modal();
        });
    });
</script>
{% endblock %}
