{% extends 'root.html' %}
{% load static %}
{% block title %}Recursos{% endblock %}
{% block content %}
{% include 'SGRD/recurso_menu.html' %}
<main role="main">
  <div class="container mb-4">
      <div class="row mt-3">
        <div class="card w-100">
            <div class="card-body">
              <div class="col-md-12 mx-auto">
                <div class="row">
                    <h5 class="card-title">Recurso: {{recurso.nombre}} </h5>
                </div>
                </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-5 mx-auto">
                    <p><b>Proyecto: </b>{{recurso.proyecto}}</p>
                    <p><b>Fase: </b>{{recurso.get_fase_display}}</p>
                      <p><b>Fecha de inicio producción: </b> {{recurso.inicio_produccion}}</p>
                </div>

                  <div class="col-md-7 ">
                     <p><b>Tipo: </b>{{recurso.tipo}}</p>
                    <p><b>Fecha final de elaboración: </b>{{recurso.fin_elaboracion_recurso}}</p>
                      <p><b>Fecha de publicación: </b>{{recurso.fecha_publicacion}}</p>
                  </div>
                </div>
                {% if tags %}
                <div class="row">
                  <h5>Etiquetas:</h5>
                </div>
                <div class="row">
                  {% for tag in tags %}
                  <div class="col-md-2 card recursoTag" style="margin: 1vw; border: 2px solid #{{tag.color}}; border-radius: 10px; width: auto; height: auto; margin-right: 1px;">
                    <div class="card-body text-center etiqueta-item">
                      {{tag.nombre}}
                    </div>
                  </div>
                  {% endfor %}
                </div>
                {% endif %}
                <div class="row">
                    <h5>Responsables:</h5>
                </div>
                <div class="row">
                  <div class="col-md-3 card" style="margin: 1vw; border: 2px solid #{{tag.color}}; border-radius: 10px; width: auto; height: auto; margin-right: 1px; padding-top: 1rem;">
                    <div class="card-body text-center etiqueta-item">
                        <p>Sebastian Martinez</p>
                    </div>
                  </div>
                  <div class="col-md-3 card" style="margin: 1vw; border: 2px solid #{{tag.color}}; border-radius: 10px; width: auto; height: auto; margin-right: 1px; padding-top: 1rem;">
                    <div class="card-body text-center etiqueta-item">
                        <p>Alejandra Sabogal</p>
                    </div>
                  </div>
                  <div class="col-md-3 card" style="margin: 1vw; border: 2px solid #{{tag.color}}; border-radius: 10px; width: auto; height: auto; margin-right: 1px; padding-top: 1rem;">
                    <div class="card-body text-center etiqueta-item">
                        <p>Reinaldo Portocarrero</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <h5>Descripción:</h5>
                </div>
                    <p style="max-width: 90%">
                      {{recurso.descripcion|striptags|safe|truncatechars:"200"}}
                    </p>
                   <p id="id_links">
                  <a href="{% url 'create-archivo' recurso.id %}">Adjuntar Archivo</a>
                   {% if not hay_plan %}
                   | <a href="{% url 'crear-plan' recurso.id %}">Crear plan</a>
                   {% else %}
                  | <a href="{% url 'view-plan' recurso.id %}">Plan producción</a>
                  | <a href="{% url 'editar-plan' recurso.id %}">Editar plan</a>
                   {%  endif %}
                   {% if tipo_video %}
                  | <a href="{% url 'crear-clip' recurso.id %}">Crear clip</a>
                   {% endif %}
                    </p>
              </div>
                {% if archivos %}
                    <h5 class="text-center mt-3 mb-3">Archivos asociados</h5>
            <div class="row text-center">
              <table class="col-md-20 w-100 entradas table table-striped table-bordered">
                <thead class="text-center">
                  <th>Nombre</th>
                  <th>Fecha</th>
                  <th>Archivo</th>
                  <th>Descargar</th>
                  {% if tipo_video %}
                  <th>Clips</th>
                  {% endif %}
                </thead>
                <tbody>
                  {% for archivo in archivos %}
                  <tr>
                    <td>{{ archivo.nombre }}</td>
                    <td>{{ archivo.fecha_creacion }}</td>
                    <td>{{ archivo.ruta.name }}</td>
                    <td>
                        <a class="btnn btn-full" href="{{ archivo.get_absolute_url}}" download><i class="ion-ios-cloud-download icon-small"></i>Descarga</a>
                    </td>
                    {% if tipo_video %}
                    <td>
                    {% if '.mp4' in archivo.ruta.name %}
                        <a class="btnn btn-full" href="{% url 'ver-clips' archivo.id %}"><i class="ion-ios-videocam icon-small"></i>Clips</a>
                    {% endif %}
                    </td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
           {% endif %}
            </div>
        </div>
      </div>
  </div>
</main>
{% endblock %}
