{% extends 'root.html' %}
{% load static %}
{% block title %}Crear Plan de Producción{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<main role="main">
  <div class="container">
    <div class="row mt-3 mb-5">
      <div class="col-md-9 mx-auto">
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
          {{ form.as_p }}
          <div class="text-center"></div>
          <input type="submit" class="btnn btn-full" value="Crear entrada" />
          <a class="btnn btn-full" href="{% url 'view-plan' idRecurso=recurso.id %}" style="background-color: #b2b2b2; border: #7f7f7f;">Cancelar</a>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}