{% extends 'root.html' %}
{% load static %}
{% block title %}Recursos{% endblock %}
{% block content %}
{% include 'forms/recurso_menu.html' %}
<main role="main">
  <div class="container mb-4">
      <div class="row mt-3">
        <div class="card w-100">
            <div class="card-body">
              <div class="col-md-12 mx-auto">
                <div class="row">
                    <h5 class="card-title">Recurso: {{recurso.nombre}} </h5>
                </div>
                </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-5 mx-auto">
                    <p><b>Proyecto: </b>{{recurso.proyecto}}</p>
                    <p><b>Fase: </b>{{recurso.get_fase_display}}</p>
                      <p><b>Creado el</b> {{recurso.fecha_creacion}}</p>
                </div>

                  <div class="col-md-7 ">
                     <p><b>Tipo: </b>{{recurso.tipo}}</p>
                    <p><b>Ruta: </b>{{recurso.ruta_compartida}}</p>
                  </div>
                </div>
                  <h5>Descripción:</h5>
                    <p style="max-width: 90%">
                      {{recurso.descripcion|striptags|safe|truncatechars:"200"}}
                    </p>
                   <p>
                  <a href="{% url 'create-archivo' recurso.id %}">Adjuntar Archivo</a>
                   {% if not hay_plan %}
                   | <a href="{% url 'crear-plan' recurso.id %}">Crear plan</a>
                   {% else %}
                  | <a href="{% url 'view-plan' recurso.id %}">Plan producción</a>
                  | <a href="{% url 'editar-plan' recurso.id %}">Editar plan</a>
                   {%  endif %}
                    </p>
              </div>
                {% if archivos %}
                    <h5 class="text-center mt-3 mb-3">Archivos asociados</h5>
            <div class="row text-center">
              <table class="col-md-20 w-100 entradas table table-striped table-bordered">
                <thead class="text-center">
                  <th>Nombre</th>
                  <th>Fecha</th>
                  <th>Archivo</th>
                  <th>Descargar</th>
                </thead>
                <tbody>
                  {% for archivo in archivos %}
                  <tr>
                    <td>{{ archivo.nombre }}</td>
                    <td>{{ archivo.fecha_creacion }}</td>
                    <td>{{ archivo.ruta.name }}</td>
                    <td>
                        <a class="btnn btn-full" href="{{ archivo.ruta.url }}" download><i class="ion-ios-cloud-download icon-small"></i>Descarga</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
           {% endif %}
            </div>
        </div>
      </div>
  </div>
</main>
{% endblock %}
