<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <!-- Fuentes -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
    <!-- Estilos -->
    <link href="https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css" rel="stylesheet" />
    <link href="{% static 'vendor/select2/css/select2.min.css' %}" rel="stylesheet" />
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="http://vjs.zencdn.net/7.0/video-js.min.css" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
  </head>
  <body class="bc">
      <!-- Navegación -->
        {% include 'header.html' %}
      <!-- Contenido -->
      <div class="page">
        {% block content %}{% endblock %}
      </div>
      <!-- Javascript -->
      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'vendor/select2/js/select2.min.js' %}"></script>
      <script src="{% static 'js/busqueda.js' %}"></script>
      <script src="http://vjs.zencdn.net/7.0/video.min.js"></script>
  </body>
</html>
